html{
    background: url(kuvat/mount_fuji.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    opacity: 10%;
    height: 100%;
    width: 68%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#header{
    width: 100%;
    height: 26px;
    text-align: center;
    margin: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 125%;
    border-radius: 5px;
}

.miniheader{
    position: absolute;
    bottom: 8px;
    right: 16px;
    margin: auto;
}

#12{
    color: white !important;
}


.images{
    position: relative;
    height: 20%;
    width: 30%;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.video{
    height: 100%;
    width: 100%;
    margin: 5px 10% 5px 10%;
    text-align: center;
}

.text{
    height: 150px;
    width: 70%;
    background-color: aqua;
    margin: 5px auto 5px auto;
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    border: solid black 2px;
    border-radius: 5px;
}

video{
    width: 100%;
    height: 100%;
    border: solid black 3px;
    border-radius: 5px;
}

/*p{
    padding: 5px;
    border: solid darkred 5px;
    border-radius: 45px;
    font-weight: bolder;
}*/

@media screen and (max-width: 1200px)  {
    body {
        width: 85%;
    }
    .images{
        width: 40%;
        height: 30%;
    }
}

@media screen and (max-width: 800px)  {
    body {
        width: 100%;
    }
    .images{
        width: 60%;
        height: 40%;
    }
}
