html {
    background: url(kuvat/Fuji.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#div1{
    width: 35%;
    z-index: 1;
    display: inline-block;
    position: absolute;
}

#div2{
    width: 32%;
    display: inline-block;
    z-index: 2;
    position: absolute;
    height: 30%;
    right: 1%;
    top: 2%;
}
#div3{
    z-index: 5;
    position: absolute;
    top: 10%;

}

#Galaxy1 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    max-height: 475px;
    position: relative;
    top: 3%;
    left: 3%;
}

#Galaxy2{
    position: relative;
    right: 5%;
    top: 5%;
     max-height: 325px;
}

#comet{
    z-index: inherit;
}


.wrapper{
    position: absolute;
    top: 2%;
}